
.list
  padding 20px

.list_hidden
  display none

.list__item_details-closed
  .list__detail
    display none

.list__item
  position relative
  font-size 18px
  line-height 45px
  padding-left 10px

.list__item:hover
  background: #dfedff

.list__detail-button
  position absolute
  top 7px
  right 40px

.list__remove-item
  position absolute
  cursor pointer
  line-height 45px
  top 0
  right 10px

.list__detail
  font-size 16px
  line-height 25px
  padding 0 10px 20px 10px

.list__detail-item-image
  display inline-block
  max-width 120px
  vertical-align top